/* vt323-regular - latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/vt323-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/vt323-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --marcon-me-accent-color: #D2FF28;
    --marcon-me-accent-color-2: #F55D3E;
}

html[data-bs-theme="light"] .marcon-me-nav {
    background-color: var(--marcon-me-accent-color);
}

html[data-bs-theme="dark"] .marcon-me-nav {
    background-color: var(--marcon-me-accent-color);
}

.post-tag {
    font-family: 'VT323', monospace;
    color: var(--marcon-me-accent-color-2);
    text-transform: uppercase;
    text-decoration: none;
}

.post-tag-item:not(:last-child):after {
    display: inline-block;
    margin: 0 0.5rem;
}

.nav-link, .navbar-brand, h1.marcon-me-brand {
    font-family: 'VT323', monospace;
}

.nav-link {
    font-size: 150%;
}

.navbar-brand, h1.marcon-me-brand {
    text-transform: uppercase;
}

.navbar-toggler, .navbar-toggler:focus {
    box-shadow: none;
    border: 0;
    text-align: left;
}

h1.marcon-me-brand {
    color: var(--marcon-me-accent-color);
    text-shadow: 2px 2px 0 var(--bs-dark);
}

.marcon-me-a2 {
    color: var(--marcon-me-accent-color-2);
}

h1 .direct-link,
h2 .direct-link,
h3 .direct-link,
h4 .direct-link,
h5 .direct-link,
h6 .direct-link {
    color: var(--marcon-me-accent-color-2);
    visibility: hidden;
}

h1:hover .direct-link,
h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link,
h5:hover .direct-link,
h6:hover .direct-link {
  visibility: visible;
  text-decoration: none;
}