<% var f = macros.format; %>

<header class="tagline">
    <h1><%= public._data.tagline.title %></h1>
    <h2><%= public._data.tagline.subtitle %></h2>
</header>
<section id="intro">
    <h3>About Me</h3>
    <p>
        My name is <%= public._data.resume.name %>.
    </p>
    <%- f.md(public._data.resume.summary) %>
</section>