---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
  <p class="lead">I work where product meets engineering. I specialize in prototyping and productizing solutions that
    create value for users and customers. With my team, I craft IoT products at <a href="https://here.com">HERE</a>.</p>
  <p><strong>We transform location services into beautiful user experiences.</strong> We are building an IoT product
    that makes <a href="https://360.here.com/bringing-location-technology-to-the-workplace.-call-for-early-adopters">future
      workplaces
      smarter and data-driven</a>, allowing for the effective use and distribution of space, time, and resources.</p>
  <p>If you want to read more about what I do, have a look at <a href="cv.html">my CV</a>. I am also pretty good at
    coding, you can see some of the
    things I have built in <a href="https://github.com/mmarcon">my Github profile</a>.</p>

<hr>
<h3>From the blog</h3>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>