---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
  <p class="lead">
    I work where product meets engineering. I specialize in building products and solutions that
    create value for users and customers. I work with a great team at <a href="https://www.mongodb.com/" title="MongoDB allows your teams to easily organize, use and enrich data – in real time, anywhere.">MongoDB</a>, where we make tools to make developers happy.
  </p>
  <p>
  <strong>We create tools that make it easy for developers to explore and manipulate their data stored in MongoDB.</strong> I spend my time with engineering, product design,
  customers and users to build:
  </p>
  <ul>
    <li><a href="https://www.mongodb.com/products/compass">Compass</a>: a beautiful GUI for MongoDB;</li>
    <li><a href="https://www.mongodb.com/products/shell">MongoDB Shell</a>: a new database shell with a modern user experience;</li>
    <li><a href="https://www.mongodb.com/products/vs-code">MongoDB for VS Code</a>: the best way to work with MongoDB inside your IDE.</li>
  </ul>
  <p>If you want to read more about what I do, have a look at <a href="cv.html">my CV</a>. I am also pretty good at
    coding, you can see some of the
    things I have built in <a href="https://github.com/mmarcon">my Github profile</a>.</p>

{% if collections.posts.length > 0 %}
<hr>
<h3>Recent articles</h3>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
{% endif %}