<ul>
    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-rocket"></i>Portfolio</a></li>
</ul>
<ul>
    <li><a href="#"><i class="fa fa-send-o"></i>Say hello</a></li>
    <li><a href="#"><i class="fa fa-github-alt"></i>Projects</a></li>
    <li><a href="#"><i class="fa fa-linkedin-square"></i>Linkedin</a></li>
</ul>