<ul>
    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#">Portfolio</a></li>
</ul>
<ul>
    <li><a href="#">Say hello</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Linkedin</a></li>
</ul>