/*google fonts*/
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}
/*main.css*/
body {
	background: #fff url(bg.png);
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	color: #333;
}

.container {
	margin: 40px auto;
	width: 960px;
}

h1 {
	font-size: 54px;
	font-weight: 700;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

strong {
	font-weight: 700;
}

section {
	margin: 20px 0;
}

section p, section ul {
	line-height: 1.3;
	margin: 8px 0;
}

section ul {
	list-style-type: circle;
	list-style-position: inside;
}

section a:link, section a:visited {
	color: #228b22;
	text-decoration: none;
	border-bottom: 1px dotted #228b22;
}

section a:hover, section a:active {
	color: #fff;
	border-bottom: 1px solid #228b22;
	background-color: #228b22;
}

.download-fancybox .download-button {
	text-align: center;
	margin: 10px 0;
}

.download-fancybox form {
	display: inline;
}

.download-fancybox img.screenshot {
	border-bottom: 1px solid #ccc;
	display: block;
	margin: 10px auto 20px auto;
}

.download-button a:link, .download-button a:active, .download-button a:visited {
	background: #222;
	display: inline-block;
	padding: 8px 20px 9px 20px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	margin: 0 10px;
}

.download-fancybox .submit {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dotted #222;
	color: #222;
	display: inline-block;
	line-height: 1;
	font-weight: 700;
	margin: 0 10px;
	font-size: 18px;
	cursor: pointer;
}

.download-fancybox .submit:hover {
	color: #ff8c00;
	border-bottom: 1px dotted #ff8c00;
}

.download-button a:hover {
	background: #333;
}

.slider {
	width: 814px;
	height: 636px;
	background-color: #fff;
	padding: 0;
}

.nivo-caption {
	font-family: 'Asap', sans-serif !important;
}