main {
    padding-top: 50px;
}

.inner {
    position: relative;
    z-index: 1;
}

.landing .jumbotron {
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.cv h4 {
    margin-top: 20px;
}

.navbar .navbar-toggle {
    border-color: transparent;
    border-radius: 0;
}

.navbar,
.navbar .navbar-collapse {
    background-color: #fff;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #fff;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #e7e7e7;
}

footer ul {
    padding: 15px 0;
}

footer .copyright {
    padding: 15px;
}

footer li {
    display: inline-block;
    margin-right: 15px;   
}