main {
    padding-top: 50px;
}

.inner {
    position: relative;
    z-index: 1;
}

.jumbotron {
    background: transparent;
}

.jumbotron .container::after {
    content: "";
    width: 10%;
    display: block;
    height: 3px;
    border-bottom: 3px solid #63cdda;
}

.cv h3, .cv h4, .cv h5 {
    font-weight: 200;
}

.cv h4 {
    margin-top: 20px;
    font-size: 18px;
}

.navbar .navbar-toggle {
    border-color: #fff;
    border-radius: 0;
}

.navbar,
.navbar .navbar-collapse {
    background-color: #fff;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #fff;
}

footer {
    margin-top: 50px;
}

footer .container::before {
    content: "";
    width: 10%;
    display: block;
    height: 3px;
    border-top: 3px solid #63cdda;
}

footer ul {
    padding: 15px 0;
}

footer .copyright {
    padding: 15px;
}

footer li {
    display: inline-block;
    margin-right: 15px;   
}