<% const MONTHS = ['January','February','March','April','May','June','July','August','September','October','November','December'] %>
<!DOCTYPE html>
<html lang="en">
<%- include partials/head.html %>
<body>
    <%- include('partials/nav.html', {home: false}) %>
    <main class="project">
        <header class="jumbotron" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/assets/images/projects/<%= image %>)">
            <div class="container">
                <h1><%= title %></h1>
                <p><%- subtitle %></p>
            </div>
        </header>
        <div class="container">
            <h4 class="date"><%= `${MONTHS[date.getMonth()]} ${date.getFullYear()}` %></h4>
            <%- contents.replace(/\$\{images\}/g, '/assets/images/projects') %>
        </div>
    </main>
    <%- include partials/footer.html %>
    <%- include partials/end_body.html %>
</body>
</html>