<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" href="/assets/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/custom.css" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200,600' rel='stylesheet' type='text/css'>
</head>