<!DOCTYPE html>
<html lang="en">
<%- include partials/head.html %>
<body>
    <%- include partials/nav.html %>
    <main class="cv">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1><%= title %><br><small><%= subtitle %></small></h1>
                    <hr>
                    <%- contents %>
                </div>
            </div>
        </div>
    </main>
    <%- include partials/footer.html %>
    <%- include partials/end_body.html %>
</body>
</html>
