<!DOCTYPE html>
<html lang="en">
<%- include partials/head.html %>
<body>
    <%- include('partials/nav.html', {page: 'cv'}) %>
    <main class="cv">
        <header class="jumbotron">
            <div class="container">
                <h1><%= title %></h1>
                <p><%= subtitle %></p>
            </div>
        </header>
        <div class="container">
            <%- contents.replace('<p>', '<p class="lead">') %>
        </div>
    </main>
    <%- include partials/footer.html %>
    <%- include partials/end_body.html %>
</body>
</html>
