---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header class="jumbotron">
  <div class="container">
    <h1>404</h1>
    <p class="tagline">This is weird.<br>How did you get here?</p>
  </div>
</header>
<div class="container abstract">
{{ content | safe }}
</div>
