---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container">
    <ul class="post-tags list-inline">
        {% for tag in tags %}
            {%- if tag != "posts" and tag != "articles" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <li class="list-inline-item post-tag-item"><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
            {%- endif -%}
        {% endfor %}
    </ul>
    <div class="post-content">
        <div class="">
            <h1><span>{{ title }}</span></h1>

            <p class="lead">{{ description }}</p>

            {%- if header -%}
                <img src="/img/{{ header }}" class="img-fluid rounded mb-4"/>
            {%- endif -%}

            {{ content | safe }}

            <p><a href="{{ '/' | url }}">← Home</a></p>
        </div>
    </div>
</div>
