<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-15H0731167"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-15H0731167');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {# <link rel="stylesheet" href="{{ '/css/prism.css' | url }}"> #}
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
        title="{{ metadata.title }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top marcon-me-nav">
        <div class="container topnav">
            <a class="navbar-brand text-black" href="/">Massimiliano Marcon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-burger text-black"></i>
            </button>
            {# {% if templateClass !== 'tmpl-home' and templateClass !== 'tmpl-cv' and templateClass !== 'tmpl-404' %} #}
                
            {# {% endif %} #}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {%- for nav in collections.nav -%}
                    <li class="nav-item{% if nav.url == page.url %} active{% endif %}">
                        <a class="nav-link text-black" href="{{ nav.url | url }}">{{nav.data.navtitle }}</a>
                    </li>
                    {%- endfor -%}
                    <li class="nav-item">
                        <a class="nav-link text-black" href="mailto:hello@marcon.me">Contact</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link theme-selector text-black" href="#">
                        <i class="fa-solid fa-moon"></i>
                    </a>
                </span>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <main {% if templateClass %} class="mt-4 {{ templateClass }}" {% endif %}>
        {{ content | safe }}
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <ul class="col-md-9">
                    <li><a href="https://github.com/mmarcon">Github</a></li>
                    <li><a href="https://twitter.com/mmarcon">Twitter <i class="fa-brands fa-twitter"></i></a></li>
                    <li><a rel="me" href="https://mastodon.social/@mmarcon">Mastodon</a></li>
                    <li><a href="https://linkedin.com/in/massimilianomarcon">LinkedIn</a></li>
                </ul>
                <p class="col-md-3 copyright text-right"><small>&copy; 2023 Massimiliano Marcon</small></p>
            </div>
        </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {# <script src="{{ '/js/ihavecookies.min.js' | url }}"></script> #}
    <script src="{{ '/js/index.js' | url }}"></script>
    <script>
        {# $(function () {
            var navMain = $('.navbar-collapse');
            navMain.on('click', 'a', null, function () {
                navMain.collapse('hide');
            });
            $('body').ihavecookies({
                fixedCookieTypeLabel: 'Analytics',
                cookieTypes: [],
                message: 'I use cookies to anonymously track visits to my website.'
            });
        }); #}
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-29386760-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="https://kit.fontawesome.com/4b0af7a256.js" crossorigin="anonymous"></script>
</body>

</html>