---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header class="mb-5">
  <div class="container">
    <h1 class="display-3">Massimiliano Marcon</h1>
    <section class="display-6 tagline"><p>Product Lead at MongoDB.<br>I ❤️ Developer Experience.</p></section>
  </div>
</header>
<div class="container content">
{{ content | safe }}
</div>
