---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header class="mb-5">
  <div class="container">
    <h1 class="marcon-me-brand display-3">Massimiliano Marcon</h1>
    <section class="display-6 tagline"><p>Product Leader at MongoDB.<br>I <i class="fa-solid fa-heart marcon-me-a2"></i> Developer Experience.</p></section>
  </div>
</header>
<div class="container content">
{{ content | safe }}
</div>
