---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header class="jumbotron">
  <div class="container">
    <h1>Massimiliano Marcon</h1>
    <section class="tagline"><p><span>Product Manager at MongoDB.<span></p><p><span>I make tools to make developers happy.</span></p></section>
  </div>
</header>
<div class="container content">
{{ content | safe }}
</div>
