---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container">
    <div class="row post-content">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h1><span>{{ title }}</span></h1>

        <p class="lead">{{ description }}</p>

        {{ content | safe }}

        <p><a href="{{ '/' | url }}">← Home</a></p>
        </div>
    </div>
</div>
