@import url(http://fonts.googleapis.com/css?family=Graduate|Roboto+Slab:700,400);
/* line 14, ../../app/styles/print.scss */
body {
  font-family: 'Roboto Slab';
  color: #222222;
  font-size: 14pt;
}

/* line 20, ../../app/styles/print.scss */
.content {
  margin: 2cm 1cm;
}
/* line 23, ../../app/styles/print.scss */
.content h1, .content h2, .content h3, .content h4 {
  font-family: 'Helvetica';
  font-weight: 100;
}
/* line 28, ../../app/styles/print.scss */
.content h1 {
  border-bottom: 0.5mm solid #222222;
  font-size: 24pt;
  margin-bottom: 0;
}
/* line 34, ../../app/styles/print.scss */
.content h2 {
  font-size: 12pt;
  text-transform: uppercase;
}
/* line 39, ../../app/styles/print.scss */
.content .when-where {
  display: none;
}
/* line 45, ../../app/styles/print.scss */
.content .company-time h3 {
  margin-bottom: 0.5em;
}
/* line 49, ../../app/styles/print.scss */
.content .company-time h4 {
  margin-top: 0;
  font-size: 12pt;
  font-weight: bold;
}
/* line 56, ../../app/styles/print.scss */
.content h2.resume-section {
  font-size: 18pt;
  text-align: left;
  border-bottom: 1px solid #222222;
}
/* line 62, ../../app/styles/print.scss */
.content .more-stuff {
  font-size: 12pt;
}
/* line 66, ../../app/styles/print.scss */
.content .publications {
  font-size: 12pt;
}
/* line 69, ../../app/styles/print.scss */
.content .publications h3 {
  display: none;
}

/* line 75, ../../app/styles/print.scss */
.actions {
  display: none;
}

/* line 81, ../../app/styles/print.scss */
section a:link:after {
  content: " (" attr(href) ") ";
  font-weight: normal;
}
/* line 82, ../../app/styles/print.scss */
section a:link, section a:visited {
  color: #3b85d1;
  font-weight: bold;
}

/* line 88, ../../app/styles/print.scss */
footer {
  display: none;
}
