.tagline {
    font-family: 'Londrina Outline', sans-serif;
    line-height: 1;
    margin-bottom: 10rem;

    h1 {
        font-size: 16rem;
    }

    h2 {
        font-size: 12rem;
    }
}

section {
    margin-top: 2rem;

    h3 {
        font-size: 4rem;
        color: $contentHeadersColor;
    }

    p {
        margin: 1rem 0;
        font-size: 1.8rem;
    }
}