.tagline {
    font-family: 'Londrina Outline', sans-serif;
    line-height: 1;
    margin-bottom: 10rem;

    h1 {
        font-size: 16rem;
        color: $contentHeadersColor;
    }

    h2 {
        font-size: 12rem;
    }
}

section {
    margin: 2rem 0 6rem 0;

    strong {
        color: $contentStrongColor;
        font-family: 'Raleway', sans-serif;
    }

    em {
        font-style: italic;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 4rem;
        color: $contentHeadersColor;
    }

    h4 {
        font-size: 2.2rem;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: $contentStrongColor;
        display: inline-block;

        a.fa-link {
            font-size: 1.8rem;
            display: inline-block;
            opacity: 0;
            transition: opacity $menuTransitionDuration linear;
        }

        &:hover {
            a.fa-link {
                opacity: 1;
            }
        }
    }

    h5 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: $contentStrongColor;
    }

    p {
        margin: 1rem 0;
        font-size: 2rem;
    }

    aside {
        display: none;
    }

    li {
        margin-left: 1rem;
    }

    li:before {
        content: "★";
        position: relative;
        left: -1rem;
        top: -0.2rem;
        font-size: 1.2rem;
    }

    a:link, a:visited {
        // font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: $contentLinksColor;
        transition: color $menuTransitionDuration linear;
    }

    a:hover, a:active {
        text-decoration: none;
        color: darken($contentLinksColor, $contentHoverLinksDarken);
    }
}