//Variables
$menuWidth: 25rem;
$menuTransitionDuration: 0.4s;

//Colors
$bodyBg: #6C7479;
$bodyColor: #F9F9F9;
$menuBg: #F9F9F9;
$menuColor: #6C7479;
$menuActiveColor: #FFBD87;
$contentHeadersColor: #FFBD87;