//Variables
$menuWidth: 25rem;
$menuTransitionDuration: 0.4s;

//Colors
$bodyBg: #6A7777;
$bodyColor: #F9F9F9;
$menuBg: #F9F9F9;
$menuColor: #6C7479;
$menuActiveColor: #FA7E73;
$contentHeadersColor: #FA7E73;
$contentStrongColor: #BCAF9C;
$contentLinksColor: #00c9ff;
$contentHoverLinksDarken: 5%;