@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

@import 'reset';
@import 'fa/font-awesome';

//Variables
$menuWidth: 25rem;
$menuTransitionDuration: 0.3s;

//Colors
$bodyBg: #6C7479;
$bodyColor: #F9F9F9;
$menuBg: #F9F9F9;
$menuColor: #6C7479;
$menuActiveColor: #FFBD87;

html, body, .container, .pusher {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    background: $bodyBg;
    color: $bodyColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 100%;
}

.pusher {
    position: relative;
    transform: translateX(-$menuWidth);
    transition: all $menuTransitionDuration ease-in;
    height: 100%;
}

.container {
    &.has-hamburger {
        .pusher {
            transform: translateX(0);
        }
    }
    overflow: hidden;
}

.menu {
    width: $menuWidth;
    background: $menuBg;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 1.8rem;

    ul {
        padding: 2rem 2rem 0 2rem;
    }

    li {
        padding-bottom: 1.2rem;

        .fa {
            width: 3rem;
            color: $menuActiveColor;
        }
    }

    a:link, a:visited {
        color: $menuColor;
        font-weight: 700;
        text-decoration: none;
    }

    a:hover, a:active, a.selected {
        color: $menuActiveColor;
    }

    .hamburger {
        color: $bodyBg;
        background: $menuBg;
        position: absolute;
        top: 1rem;
        right: -4rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        cursor: pointer;
    }
}

.content {
    margin-left: $menuWidth;
    height: 100%;
    overflow: auto;
    width: 100%;
}

main {
    padding: 2rem 2rem 2rem 6rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.4;
    max-width: 70rem;
}